<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CommunityViewerExForiOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FD71FEEF1EC06327008F7025</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD71FF031EC06327008F7025</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD71FF0E1EC06327008F7025</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
